Tests: 00-build
Restrictions: allow-stderr
Depends: @, libglfw3-dev, cmake, g++, pkg-config

Tests: 10-gradient
Restrictions: allow-stderr
Depends: @, libglfw3-dev, cmake, g++, pkg-config

Tests: 11-image
Restrictions: allow-stderr
Depends: @, libglfw3-dev, cmake, g++, pkg-config

Tests: 15-uniforms
Restrictions: allow-stderr
Depends: @, libglfw3-dev, cmake, g++, pkg-config

Tests: 50-shadertoy
Restrictions: allow-stderr
Depends: @, libglfw3-dev, cmake, g++, pkg-config, libcurl4-openssl-dev, libjsoncpp-dev
