Tests: 00-build
Restrictions: allow-stderr
Depends: @, libglfw3-dev, cmake, git, g++, ca-certificates, pkg-config

Tests: 10-gradient
Restrictions: allow-stderr
Depends: @, libglfw3-dev, cmake, git, g++, ca-certificates, pkg-config
