Source: libshadertoy
Priority: optional
Maintainer: Vincent Tavernier <vince.tavernier@gmail.com>
Build-Depends: debhelper (>= 9),
 libboost-filesystem-dev (>= 1.54), libboost-date-time-dev (>= 1.54), libspdlog-dev,
 libc6-dev, libstdc++6 (>= 5), libsoil-dev, libjpeg-dev, libepoxy-dev (>= 1.3), libgl1-mesa-dev, libglm-dev,
 libunwind-dev | libunwind8-dev, doxygen, doxygen-latex, graphviz, pkg-config, cmake (>= 3.1) | cmake3 (>= 3.1), gcc-5 | gcc-6
Standards-Version: 3.9.8
Section: libs
Homepage: https://gitlab.inria.fr/vtaverni/libshadertoy
Vcs-Git: https://gitlab.inria.fr/vtaverni/libshadertoy.git
Vcs-Browser: https://gitlab.inria.fr/vtaverni/libshadertoy/tree/master

Package: libshadertoy-dev
Section: libdevel
Architecture: any
Recommends: libshadertoy-doc (= ${binary:Version})
Depends: libshadertoy1 (= ${binary:Version}), ${misc:Depends},
 libboost-filesystem-dev (>= 1.54), libboost-date-time-dev (>= 1.54), libspdlog-dev,
 libsoil-dev, libjpeg-dev, libepoxy-dev (>= 1.3), libgl1-mesa-dev, libglm-dev, libunwind-dev | libunwind8-dev,
 gcc-5 | gcc-6, libstdc++6 (>= 5)
Description: Development files for libshadertoy
 Development headers and documentation for libshadertoy

Package: libshadertoy1
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Library for rendering ShaderToy programs using OpenGL
 C++ Library for rendering ShaderToy programs using OpenGL desktop

Package: libshadertoy-doc
Section: doc
Architecture: all
Breaks: libshadertoy-dev (<< 1.0.0)
Replaces: libshadertoy-dev (<< 1.0.0)
Description: Documentation of libshadertoy
 HTML documentation of libshadertoy, a library for rendering
 ShaderToy programs using OpenGL desktop
