Source: libshadertoy
Priority: optional
Maintainer: Vincent Tavernier <vince.tavernier@gmail.com>
Build-Depends: debhelper (>= 9),
 libboost-filesystem-dev (>= 1.54), libboost-log-dev (>= 1.54), libboost-date-time-dev (>= 1.54),
 libc6-dev, libstdc++6 (>= 5) | libc++-dev, libsoil-dev, libjpeg-dev, libepoxy-dev (>= 1.1), libgl1-mesa-dev, libglm-dev,
 libunwind-dev | libunwind8-dev, doxygen, doxygen-latex, graphviz, pkg-config, cmake (>= 2.8), gcc-5 | gcc-6 | clang-3.9
Standards-Version: 3.9.8
Section: libs
Homepage: https://gitlab.inria.fr/vtaverni/libshadertoy
Vcs-Git: https://gitlab.inria.fr/vtaverni/libshadertoy.git
Vcs-Browser: https://gitlab.inria.fr/vtaverni/libshadertoy/tree/master

Package: libshadertoy-dev
Section: libdevel
Architecture: any
Depends: libshadertoy0 (= ${binary:Version}), ${misc:Depends},
 libboost-filesystem-dev (>= 1.54), libboost-log-dev (>= 1.54), libboost-date-time-dev (>= 1.54),
 libsoil-dev, libjpeg-dev, libepoxy-dev (>= 1.1), libgl1-mesa-dev, libglm-dev, libunwind-dev | libunwind8-dev,
 gcc-5 | gcc-6 | clang-3.9, libstdc++6 (>= 5) | libc++-dev
Description: Development files for libshadertoy
 Development headers and documentation for libshadertoy

Package: libshadertoy0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Library for rendering ShaderToy programs using OpenGL
 C++ Library for rendering ShaderToy programs using OpenGL desktop
