#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#export DH_VERBOSE = 1


# see FEATURE AREAS in dpkg-buildflags(1)
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all

# see ENVIRONMENT in dpkg-buildflags(1)
# package maintainers to append CFLAGS
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
# package maintainers to append LDFLAGS
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

export TRUSTY_BUILD=$(shell test $$(gcc -dumpversion | cut -d. -f1) -lt 5 && echo -n 1)

export CC=$(shell test -n "$(TRUSTY_BUILD)" && echo -n "/usr/bin/clang-3.9" || echo -n "$$CC")
export CXX=$(shell test -n "$(TRUSTY_BUILD)" && echo -n "/usr/bin/clang++-3.9" || echo -n "$$CXX")

export DEB_CXXFLAGS_MAINT_APPEND = $(shell test -n "$(TRUSTY_BUILD)" && echo -n '-std=c++14 -stdlib=libc++')

%:
	dh $@ --buildsystem=cmake --parallel


# dh_make generated override targets
# This is example for Cmake (See https://bugs.debian.org/641051 )
override_dh_auto_configure:
	dh_auto_configure -- -DCMAKE_LIBRARY_PATH=$(DEB_HOST_MULTIARCH) \
		-DLIBSHADERTOY_BUILD_DOCUMENTATION=ON

override_dh_auto_clean:
	rm -rf obj-$(DEB_HOST_MULTIARCH)/*
